## 2.1 문자열은 불변이다

<br>
<br>

가변 타입의 장점
- 데이터가 `즉시` 변경될 수 있다는 것

불변 타입의 장점
- 딕셔너리의 키로 사용가능

In [1]:
my_str = '예준아 안녕, 나는 수아야. '
my_str[0] = '원'                # 에러!

TypeError: 'str' object does not support item assignment

In [2]:
my_str = '안녕'
my_str = '안녕하세요'

## 2.2 바이너리를 포함한 숫자 변환

<br>

`int(str , n)`
- str을 int 로 변환할 때, n 진수로 변환

In [3]:
s = '45'
n = int(s)
x = float(s)

print(n)
print(x)

45
45.0

In [4]:
n = int('10001', 2)      # 이진수로 변환
n

17

In [5]:
n1 = int('775', 8)
n2 = int('1E', 16)
print('8진수 775와 16진수 1E의 값:', n1, n2)

8진수 775와 16진수 1E의 값: 509 30

In [6]:
n = 1007
s = str(n)          # '1007'로 변환
print(n, '의 자릿수는', len(s), '이다.')

1007 의 자릿수는 4 이다.

## 2.3 문자열 연산자 (+, =, *, >, etc.)

<br>

- 문자열 is 객체: 문자열과 객체가 메모리상에 동일 객체를 참조하고 있으면 True를 반환

In [7]:
dog1_str = '멍멍이'      # 값 대입
dog2_str = dog1_str     # 별칭 생성

dog1_str == dog2_str    # 참!

True

In [8]:
dog1_str == '멍멍이'      # 참!

True

In [9]:
# 광범위한 유니코드 문자로 이루어진 문자열을 사용할 경우 casefold 를 사용하여 대,소문자를 구분하지 않고 값을 비교
def compare_no_case(str1, str2):
    return str1.casefold() == str2.casefold()

print(compare_no_case('cat', 'CAT'))            # 참!

True

In [10]:
first = '윌리엄'
last = '셰익스피어'
full_name = first + ' ' + last
print(full_name)

윌리엄 셰익스피어

In [11]:
divider_str = '_' * 30
print(divider_str)

______________________________

## 2.4 인덱싱과 슬라이싱

In [12]:
a = '안녕하세요'
a[0]

'안'

In [13]:
s = '안녕하세요'
ch = s[0]
print(type(ch))

<class 'str'>

In [14]:
king_str = '"헨리 8세"'
print(king_str)

"헨리 8세"

In [15]:
new_str = king_str[1:-1]
print(new_str)

헨리 8세

In [16]:
a_str = 'RoboCop'
b_str = a_str[1::2] 			# 문자 간격이 2인 문자들을 반환한다.
print(b_str)

ooo

In [17]:
a_str = 'AbcDefGhiJklNop'
b_str = a_str[::3] 			# 문자 간경이 3인 문자들을 반환한다.
print(b_str)

ADGJN

In [18]:
def reverse_str(s):
    return s[::-1]

print(reverse_str('Wow Bob wow!'))
print(reverse_str('Racecar'))

!wow boB woW
racecaR

In [19]:
a_str = 'cat'
b_str = a_str[10:20] 		# b_str은 빈 문자열이 대입된다.
b_str

''

## 2.5 단일-문자 함수(문자 코드)

In [20]:
print(ord('A')) 		# 65 출력

65

In [21]:
print(chr(65)) 		# 'A' 출력

A

In [22]:
s = 'elephant'
if s[0] in 'aeiou':
    print('첫 문자가 모음이군요.')

첫 문자가 모음이군요.

In [23]:
s = 'Helephant'
if s[0] not in 'aeiou':
    print('첫 문자가 자음이군요.')

첫 문자가 자음이군요.

In [24]:
if s[0] in 'aeiouAEIOU':
    print('첫 문자가 모음이군요.')

In [25]:
s = 'elephant'
if s[0].upper() in 'AEIOU':
    print('첫 문자가 모음이군요.')

첫 문자가 모음이군요.

In [26]:
'bad' in 'a bad dog' 		# 참!

True

In [27]:
print('' in 'cat') 		# True 출력
print([] in [1, 2, 3]) 		# False 출력

True
False

In [28]:
s = 'Cat'
for ch in s:
    print(ch, ', type:', type(ch))

C , type: <class 'str'>
a , type: <class 'str'>
t , type: <class 'str'>

In [29]:
s = 'Cat'
for ch in s:
    print(ord(ch), end=' ')

67 97 116

## 2.6 “join”을 사용하여 만든 문자열

In [30]:
a_str = 'Big '
a_str = a_str + 'Bad '
a_str = a_str + 'John'
a_str

'Big Bad John'

In [31]:
a_str = 'Big '
a_str += 'Bad '
a_str += 'John'
a_str

'Big Bad John'

In [32]:
n = ord('A')
s = ''
for i in range(n, n + 26):
    s += chr(i)
s

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
n = ord('A')
a_lst = [ ]
for i in range(n, n + 26):
    a_lst.append(chr(i))
s = ''.join(a_lst)
s

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [34]:
def print_nice(a_lst):
    s = ''
    for item in a_lst:
        s += item + ', '
    if len(s) > 0: 		#  문자열 끝의 콤마+빈칸 제거
        s = s[:-2]
    print(s)
    

print_nice(['John', 'Paul', 'George', 'Ringo'])

John, Paul, George, Ringo

In [35]:
def print_nice(a_lst):
    print(', '.join(a_lst))
    
    
print_nice(['John', 'Paul', 'George', 'Ringo'])

John, Paul, George, Ringo

## 2.7 주요 문자열 함수

In [36]:
dog1 = 'Jaxx'
dog2 = 'Cutie Pie'
print(dog1, 'has', len(dog1), 'letters.')
print(dog2, 'has', len(dog2), 'letters.')

Jaxx has 4 letters.
Cutie Pie has 9 letters.

In [37]:
a_str = ''.join(reversed('Wow,Bob,wow!'))
print(a_str)
b_str = ''.join(sorted('Wow,Bob,wow!'))
print(b_str)

!wow,boB,woW
!,,BWbooowww

## 2.8 이진수, 십진수와 16진수 변환 함수

In [38]:
print(bin(10), oct(10), hex(10))

0b1010 0o12 0xa

## 2.9 간단한 불리언 (‘is’) 메서드

In [39]:
h_str = 'Hello'
if h_str[0].isupper():
    print('First letter is uppercase.')
if h_str.isupper():
    print('All chars are uppercase.')
else:
    print('Not all chars are uppercase.')

First letter is uppercase.
Not all chars are uppercase.

## 2.10 대소문자 변환 메서드

In [40]:
my_str = "I'm Henry VIII, I am!"
new_str = my_str.upper()
my_str = new_str
my_str

"I'M HENRY VIII, I AM!"

In [41]:
my_str = "I'm Henry VIII, I am!"
my_str = my_str.swapcase()
print(my_str)

i'M hENRY viii, i AM!

## 2.11 검색-교체 메서드

In [42]:
romstr = 'MMXV'
amt = 0

while romstr.startswith('M'):
    amt += 1000 		# 합계를 위해1,000을 더한다.
    romstr = romstr[1:] 	# 첫 번째 문자를 제거한다.

In [43]:
me_str = 'John Bennett, PhD'
is_doc = me_str.endswith('PhD')
is_doc

True

In [44]:
frank_str = 'doo be doo be doo...'

n = frank_str.count('doo')
print(n) 				# 3 출력

3

In [45]:
print(frank_str.count('doo', 1)) 			# 2 출력
print(frank_str.count('doo', 1, 10)) 		# 1 출력

2
1

In [46]:
frank_str = 'doo be doo be doo...'
print(frank_str.find('doo')) 			# 0 출력
print(frank_str.find('doob')) 			# -1 출력

0
-1

In [47]:
frank_str = 'doo be doo be doo...'
n = -1

while True:
    n = frank_str.find('doo', n + 1)
    if n == -1:
        break
    print(n, end=' ')

0 7 14

In [48]:
frank_str = 'doo be doo be doo...'
print(frank_str.rfind('doo')) 			# 14 출력

14

In [49]:
title = '25 Hues of Grey'
new_title = title.replace('Grey', 'Gray')
new_title

'25 Hues of Gray'

In [50]:
title = 'Greyer Into Grey'
new_title = title.replace('Grey', 'Gray')
new_title

'Grayer Into Gray'

## 2.12 ‘split’을 활용한 입력 값 쪼개기

In [51]:
stooge_list = 'Moe Larry Curly Shemp'.split()
stooge_list

['Moe', 'Larry', 'Curly', 'Shemp']

In [52]:
stooge_list = 'Moe    Larry Curly  Shemp'.split()
stooge_list

['Moe', 'Larry', 'Curly', 'Shemp']

In [53]:
stooge_list = 'Moe    Larry Curly  Shemp'.split(' ')
stooge_list

['Moe', '', '', '', 'Larry', 'Curly', '', 'Shemp']

In [54]:
stooge_list = 'Moe, Larry, Curly, Shemp'.split(', ')
stooge_list

['Moe', 'Larry', 'Curly', 'Shemp']

In [55]:
stooge_list = 'Moe, Larry, Curly, Shemp'.split(',')
stooge_list

['Moe', ' Larry', ' Curly', ' Shemp']

## 2.13 앞/뒤 문자 제거하기(stripping)

In [56]:
name_str = ' Will Shakes '
new_str = name_str.strip()
new_str

'Will Shakes'

## 2.14 자리맞춤 메서드(justification)

In [57]:
new_str = 'Help!'.center(10, '#')
print(new_str)

##Help!###

In [58]:
new_str = '750'.rjust(6, '0')
print(new_str)

000750

In [59]:
s = '12'
print(s.zfill(7))

0000012

In [60]:
'-3'.zfill(5)

'-0003'

In [61]:
'-3'.rjust(5, '0')

'000-3'