## 3.1 파이썬 리스트 생성 및 활용

In [1]:
x = 5
x = [1, 2, 3]

In [2]:
my_int_list = [5, -20, 5, -69]

In [3]:
beat_list = [ 'John', 'Paul', 'George', 'Ringo' ]

In [4]:
mixed_list = [10, 'John', 5, 'Paul' ]

In [5]:
num_list = [3, 2, 17, 2.5]
num_list.sort()    		# [2, 2.5, 3, 17]로 정렬
num_list

[2, 2.5, 3, 17]

In [6]:
my_list = [] 	# 항목을 추가하기 전에 반드시 빈 리스트를 만들어야 한다
my_list.append(1)
my_list.append(2)
my_list.append(3)

In [7]:
my_list = [1, 2, 3]

In [8]:
my_list.remove(1) 	# 변경된 리스트 : [2, 3]
my_list

[2, 3]

In [9]:
the_scores = [1.0, 1.0, 9.8, 1.0]

In [10]:
the_scores.remove(1.0) 		# 변경된 리스트 : [1.0, 9.8, 1.0]
the_scores

[1.0, 9.8, 1.0]

## 3.2 리스트 복사하기 vs 리스트 변수 복사하기

In [11]:
a_list = [2, 5, 10]
b_list = a_list

In [12]:
b_list.append(100)
a_list.append(200)
b_list.append(1)
print(a_list) 		# [2, 5, 10, 100, 200, 1] 출력

[2, 5, 10, 100, 200, 1]

In [13]:
my_list = [1, 10, 5]
yr_list = my_list[:] 	# member-by-member 복사 수행
yr_list.append(100)
yr_list

[1, 10, 5, 100]

In [14]:
my_list    # 역자주: 위에서 100을 더했지만, 원래 리스트에는 값이 추가되지 않는다.

[1, 10, 5]

## 3.3 색인

In [15]:
my_list = [100, 500, 1000]
print(my_list[0]) 			# 100 출력

100

In [16]:
my_list[1] = 55 		# 두 번째 항목을 55로 변경한다
my_list

[100, 55, 1000]

## 3.3.1 양수 색인

In [17]:
a_list = [100, 200, 300, 400, 500, 600]

In [18]:
print(a_list[0]) 		# 100 출력
print(a_list[1]) 		# 200 출력
print(a_list[2]) 		# 300 출력

100
200
300

In [19]:
print(a_list[0], a_list[1], a_list[2], sep='\n')

100
200
300

## 3.3.2 음수 색인

In [20]:
a_list = [100, 200, 300, 400, 500, 600]
print(a_list[-1]) 				# 600 출력
print(a_list[-3]) 				# 400 출력

600
400

## 3.3.3 “enumerate”로 색인 숫자 생성하기

In [21]:
a_list = ['Tom', 'Dick', 'Jane']

for s in a_list:
    print(s)

Tom
Dick
Jane

In [22]:
for i in range(len(a_list)):
    print(a_list[i])

Tom
Dick
Jane

In [23]:
list(enumerate(a_list, 1))

[(1, 'Tom'), (2, 'Dick'), (3, 'Jane')]

In [24]:
for item_num, name_str in enumerate(a_list, 1):
    print(item_num, '. ', name_str, sep='')

1. Tom
2. Dick
3. Jane

## 3.4 조각으로부터 데이터 가져오기

In [25]:
a_list = [1, 2, 5, 10, 20, 30]
b_list = a_list[1:3] 	# [2, 5] 생성
c_list = a_list[4:] 	# [20, 30] 생성

In [26]:
d_list = a_list[-4:-1] 	# [5, 10, 20] 생성
e_list = a_list[-1:] 	# [30] 생성

In [27]:
a_list = [100, 200, 300, 400, 500, 600]
b_list = a_list[2:5:2] 		# [300, 500] 생성

In [28]:
rev_list = a_list[::-1]

In [29]:
a_list = [100, 200, 300]
rev_list = a_list[::-1]
print(rev_list) 		# [300, 200, 100] 출력

[300, 200, 100]

## 3.5 조각 안에 값 대입하기

In [30]:
my_list = [10, 20, 30, 40, 50, 60]
my_list[1:4] = [707, 777]
my_list

[10, 707, 777, 50, 60]

In [31]:
my_list = [1, 2, 3, 4]
my_list[0:0] = [-50, -40]
print(my_list) 		# [-50, -40, 1, 2, 3, 4] 출력

[-50, -40, 1, 2, 3, 4]

## 3.6 리스트 연산자

In [32]:
a_list = [1, 3, 5, 0, 2]
b_list = a_list 		# 별칭 생성
c_list = a_list[:] 		# 깊은 복사(deep copy)

In [33]:
big_array = [0] * 1000

In [34]:
a = [1, 2, 3]
None in a 		# False 반환

False

In [35]:
[] in a 		# False 반환

False

In [36]:
b = [1, 2, 3, [], None]
None in b 		# True 반환

True

In [37]:
[] in b 		# True 반환

True

In [38]:
'' in 'Fred'

True

## 3.7 약한 복사 vs 깊은 복사

In [39]:
a_list = [1, 2, [5, 10]]
b_list = a_list[:]                 # 깊은 복사

In [40]:
b_list[0] = 0
b_list[1] = 0
b_list[2][0] = 0
b_list[2][1] = 0

In [41]:
print(a_list)

[1, 2, [0, 0]]

In [42]:
import copy

a_list = [1, 2, [5, 10]]
b_list = copy.deepcopy(a_list)     # 깊은 복사로 리스트 생성
b_list[2][0] = 0
b_list[2][1] = 0
b_list

[1, 2, [0, 0]]

In [43]:
a_list

[1, 2, [5, 10]]

## 3.8 리스트 함수

In [44]:
a_list = [1, 2, [5, 10]]

for i in range(len(a_list)):
    a_list[i] *= 2

a_list

[2, 4, [5, 10, 5, 10]]

In [45]:
a_list = [100, -3, -5, 120]
print('Length of the list is', len(a_list))
print('Max and min are', max(a_list), min(a_list))

Length of the list is 4
Max and min are 120 -5

In [46]:
a_tup = (30, 55, 15, 45)
print(sorted(a_tup))        # [15, 30, 45, 55] 출력

[15, 30, 45, 55]

In [47]:
a_tup = (1, 3, 5, 0)
for i in reversed(a_tup):
    print(i, end=' ')

0 5 3 1

In [48]:
print(tuple(reversed(a_tup)))

(0, 5, 3, 1)

In [49]:
num_list = [2.45, 1, -10, 55.5, 100.03, 40, -3]
print('The average is ', sum(num_list) / len(num_list))

The average is  26.56857142857143

## 3.9 리스트 메서드: 리스트 수정하기

In [50]:
a_list = [1, 2, 3]

a_list.append(4)
a_list.extend([4])          # 윗줄과 똑같이 동작

a_list.extend([4, 5, 6])    # 리스트에 3개 항목 추가
a_list

[1, 2, 3, 4, 4, 4, 5, 6]

In [51]:
a_list = [10, 20, 40]   # 30이 없음
a_list.insert(2, 30)    # 세번째(색인 2)에 30 삽입
print(a_list)           # [10, 20, 30, 40] 출력
a_list.insert(100, 33)
print(a_list)           # [10, 20, 30, 40, 33] 출력
a_list.insert(-100, 44)
print(a_list)           # [44, 10, 20, 30, 40, 33] 출력

[10, 20, 30, 40]
[10, 20, 30, 40, 33]
[44, 10, 20, 30, 40, 33]

In [52]:
my_list = [15, 25, 15, 25]
my_list.remove(25)
print(my_list) 			# [15, 15, 25] 출력

[15, 15, 25]

In [53]:
def eval_scores(a_list):
    a_list.remove(max(a_list))
    a_list.remove(min(a_list))
    
    return sum(a_list) / len(a_list)

In [54]:
the_scores = [8.5, 6.0, 8.5, 8.7, 9.9, 9.0]

In [55]:
print(eval_scores(the_scores))

8.675

## 3.10 리스트 메서드: 내용 정보 가져오기

In [56]:
yr_list = [1, 2, 1, 1,[3, 4]]
print(yr_list.count(1)) 		# 3 출력
print(yr_list.count(2)) 		# 1 출력
print(yr_list.count(3)) 		# 0 출력
print(yr_list.count([3, 4])) 	# 1 출력

3
1
0
1

In [57]:
beat_list = ['John', 'Paul', 'George', 'Ringo']
print(beat_list.index('Ringo')) 			#  3 출력

3

In [58]:
beat_list = ['John', 'Paul', 'George', 'Ringo', 'Ringo']
print(beat_list.index('Ringo')) 			#  3 출력

3

## 3.11 리스트 메서드: 재편성하기(Reorganizing)

In [59]:
def main():
    my_list = [] 			# 빈 리스트로 시작
    
    while True:
        s = input('Enter next name: ')

        if len(s) == 0:
            break
        my_list.append(s)
        
    my_list.sort() 			# 모든 항목 정렬
    
    print('Here is the sorted list:')

    for a_word in my_list:
        print(a_word, end=' ')

main()

Enter next name: John
Enter next name: Paul
Enter next name: George
Enter next name: Ringo
Enter next name: Brian
Enter next name:
Here is the sorted list:
Brian George John Paul Ringo

In [60]:
def ignore_case(s):
    return s.casefold()

a_list = [ 'john', 'paul', 'George', 'brian', 'Ringo' ]
b_list = a_list[:]
a_list.sort()
a_list

['George', 'Ringo', 'brian', 'john', 'paul']

In [61]:
b_list.sort(key=ignore_case)
b_list

['brian', 'George', 'john', 'paul', 'Ringo']

In [62]:
my_list = ['Brian', 'John', 'Paul', 'George', 'Ringo']
my_list.reverse()    # 항목의 순서를 바로 뒤집는다.

for a_word in my_list:
    print(a_word, end=' ')

Ringo George Paul John Brian

## 3.12 스택 역할을 하는 리스트: RPN 애프리케이션

In [64]:
the_stack = []

def push(v):
    the_stack.append(v)

def pop():
    return the_stack.pop()

def main():
    s = input('Enter RPN string: ')
    a_list = s.split()

    for item in a_list:
        
        if item in '+-*/':
            op2 = pop()
            op1 = pop()
            
            if item == '+':
                push(op1 + op2)
            elif item == '-':
                push(op1 - op2)
            elif item == '*':
                push(op1 * op2)
            else:
                push(op1 / op2)
        else:
            push(float(item))
        
    print(pop())

main()

Enter RPN string: 3 4 +
7.0

## 3.13 reduce 함수

In [65]:
import functools

def add_func(a, b):
    return a + b

def mul_func(a, b):
    return a * b

n = 5
a_list = list(range(1, n + 1))

triangle_num = functools.reduce(add_func, a_list)
triangle_num

15

In [66]:
fact_num = functools.reduce(mul_func, a_list)
fact_num

120

## 3.14 람다 함수

In [67]:
my_f = lambda x, y: x + y

In [68]:
sum1 = my_f(3, 7)
print(sum1)         # 10 출력
sum2 = my_f(10, 15)
print(sum2)         # 25 출력

10
25

In [69]:
t5 = functools.reduce(lambda x, y: x + y, [1,2,3,4,5])
t5

15

In [70]:
f5 = functools.reduce(lambda x, y: x * y, [1,2,3,4,5])

In [71]:
f5

120

## 3.15 리스트 함축

In [72]:
b_list = a_list[:]

In [73]:
b_list = []
for i in a_list:
    b_list.append(i)

In [74]:
b_list = [i    for i in a_list]

In [75]:
b_list = [i for i in a_list]

In [76]:
b_list = [ ]
for i in a_list:
    b_list.append(i * i)

In [77]:
b_list = [i * i for i in a_list]

In [78]:
mult_list = [ ]
for i in range(3):
    for j in range(3):
        mult_list.append(i * j)

In [79]:
mult_list = [i * j for i in range(3) for j in range(3)]

In [80]:
my_list = [10, -10, -1, 12, -500, 13, 15, -3]

new_list = []

for i in my_list:
    if i > 0:
        new_list.append(i)

In [81]:
new_list = [i     for i in my_list     if i > 0 ]

In [82]:
new_list = [i for i in my_list if i > 0 ]

In [83]:
my_list = [1, 2, -10, -500, 33, 21, -1]
neg_list = [i for i in my_list if i < 0 ]

## 3.16 딕셔너리와 세트와의 함축

In [84]:
a_list = [5, 5, 5, -20, 2, -1, 2]
my_set = set( )
for i in a_list:
    if i > 0:
        my_set.add(i)

In [85]:
my_set = {i for i in a_list if i > 0}
my_set

{2, 5}

In [86]:
my_set = {i * i for i in a_list if i > 0}
my_set

{4, 25}

In [87]:
vals_list = [ ('pi', 3.14), ('phi', 1.618) ]

In [88]:
my_dict = { i[0]: i[1] for i in vals_list }
my_dict['pi']

3.14

In [89]:
keys = ['Bob', 'Carol', 'Ted', 'Alice' ]
vals = [4.0, 4.0, 3.75, 3.9]
grade_dict = { keys[i]: vals[i] for i in range(len(keys)) }
grade_dict

{'Bob': 4.0, 'Carol': 4.0, 'Ted': 3.75, 'Alice': 3.9}

In [90]:
grade_dict = { key: val for key, val in zip(keys, vals)}
grade_dict

{'Bob': 4.0, 'Carol': 4.0, 'Ted': 3.75, 'Alice': 3.9}

In [91]:
phone_dict = {'철수': '000-0000-00000', '영희': '000-1111-00000'}
idict = {v : k for k, v in phone_dict.items() }
idict

{'000-0000-00000': '철수', '000-1111-00000': '영희'}

## 3.17 리스트를 통한 인수 전달하기

In [92]:
def set_list_vals(list_arg):
    list_arg[0] = 100
    list_arg[1] = 200
    list_arg[2] = 150 

a_list = [0, 0, 0]
set_list_vals(a_list)
print(a_list) 		# [100, 200, 150] 출력

[100, 200, 150]

In [93]:
def set_list_vals(list_arg):
    list_arg = [100, 200, 150]

a_list = [0, 0, 0]
set_list_vals(a_list)
print(a_list)          # [0, 0, 0] 출력

[0, 0, 0]

In [94]:
new_data = -123
my_list[0] = new_data 		# 리스트 데이터를 실제로 변경한다.
my_list

[-123, 2, -10, -500, 33, 21, -1]

## 3.18 다차원 리스트

In [95]:
weird_list = [ [1, 2, 3], 'John', 'George' ]

In [96]:
mat = [[10, 11, 21], [20, 21, 22], [25, 15, 15]]

### 3.18.1 불균형 행렬

In [97]:
weird_mat = [[1, 2, 3, 4], [0, 5], [9, 8, 3]]

In [98]:
len(weird_mat)

3

In [99]:
len(weird_mat[0]) 	# 4 반환

4

In [100]:
len(weird_mat[1]) 	# 2 반환

2

In [101]:
len(weird_mat[2]) 	# 3 반환

3

### 3.18.2 제멋대로 큰 행렬 만들기

In [102]:
big_list = [0] * 100 	# 0으로 초기화된 100개 항목을 가진 리스트 생성

In [103]:
mat = [[0] * 100] * 200

In [104]:
mat = []
for i in range(200):
    mat.append([0] * 100)

In [105]:
mat[150][87] = 3.141592

In [106]:
mat = [ [0] * 100 for i in range(200) ]

In [107]:
mat2 = [ [0] * 25 for _ in range(30) ]

In [108]:
mat2 = [[ [0] * 25  for _ in range(20) ]
                    for _ in range(30) ]

In [109]:
mat2 = [[[ [0] * 10 for _ in range(10) ]
                    for _ in range(10) ]
                    for _ in range(10) ]