## 5.1	백분율 기호 연산자(%)를 사용한 포매팅

In [1]:
a, b, c = 25, 75, 100
print(a, ' plus ', b, ' equals ', c, '.')

25  plus  75  equals  100 .

In [2]:
print(a, ' plus ', b, ' equals ', c, '.', sep='')

25 plus 75 equals 100.

In [3]:
print('%d plus %d equals %d.' % (a, b, c))

25 plus 75 equals 100.

In [4]:
'Here is a number: %d.' % 100

'Here is a number: 100.'

In [5]:
n = 25 + 75
fmt_str = 'The sum is %d.'
print(fmt_str % n)

The sum is 100.

In [6]:
n, m = 100, 200

print('n is %d' % n)
print('n is %d and m is %d' % (n, m))

n is 100
n is 100 and m is 200

In [7]:
tup = 10, 20, 30
print('Answers are %d, %d, and %d.' % tup)

Answers are 10, 20, and 30.

## 5.2	백분율 기호 (%) 포맷 지시자

In [8]:
h1 = int('e9', 16)
h2 = int('10', 16)
print('The result is %x.' % (h1 + h2))

The result is f9.

In [9]:
print('The result is %x.' % h1 + h2) 		# 에러!

TypeError: can only concatenate str (not "int") to str

In [10]:
print('The result is 0x%x.' % (h1 + h2))

The result is 0xf9.

In [11]:
s = 'We is %s, %s, & %s.' % ('Moe', 'Curly', 'Larry')
print(s)

We is Moe, Curly, & Larry.

In [12]:
'This is a number: %-6d.' % 255

'This is a number: 255   .'

In [13]:
print('My name is %10s.' % 'John')

My name is       John.

In [14]:
print('Amount is %10d.' % 25)
print('Amount is %.5d.' % 25)
print('Amount is %10.5d.' % 25)

Amount is         25.
Amount is 00025.
Amount is      00025.

In [15]:
print('result:%12.5f' % 3.14)
print('result:%12.5f' % 333.14)

result:     3.14000
result:   333.14000

In [16]:
print('%.4f' % 3.141592)

3.1416

In [17]:
'The number is %s.' % 10

'The number is 10.'

In [18]:
'The number is %r.' % 10

'The number is 10.'

In [19]:
print('My name is %r.' % 'Sam')

My name is 'Sam'.

In [20]:
print('My name is %s.' % 'Sam')

My name is Sam.

## 5.3	백분율 기호 (%) 변수-길이 출력 필드

In [21]:
'Here is a number: %*d' % (3, 6)

'Here is a number:   6'

In [22]:
'Here is a number: %*s' % (3, 'VI')

'Here is a number:  VI'

In [23]:
'Item 1: %*s, Item 2: %*s' % (8, 'Bob', 8, 'Suzanne')

'Item 1:      Bob, Item 2:  Suzanne'

In [24]:
n = 8
'Item 1: %*s, Item 2: %*s' % (n, 'Bob', n, 'Suzanne')

'Item 1:      Bob, Item 2:  Suzanne'

In [25]:
n = 9
'Item 1: %*r, Item 2: %*r' % (n, 'Bob', n, 'Suzanne')

"Item 1:     'Bob', Item 2: 'Suzanne'"

In [26]:
'%*.*f' % (8, 3, 3.141592)

'   3.142'

## 5.4	전역 'format' 함수

In [27]:
big_n = 10 ** 12 
format(big_n, ',')

'1,000,000,000,000'

In [28]:
n = 150000000
print(format(n, ','))

150,000,000

In [29]:
format('Bob', '10')

'Bob       '

In [30]:
format('Suzie', '7')

'Suzie  '

In [31]:
format(150, '8')

'     150'

In [32]:
format(99, '5')

'   99'

In [33]:
format('Bobby K.', '6.3')

'Bob   '

In [34]:
format(3.141592, '6.3')

'  3.14'

In [35]:
format(3.141592, '9.3f')

'    3.142'

In [36]:
format(100.7, '9.3f')

'  100.700'

## 5.5	format 메서드 소개

In [37]:
print('{} plus {} equals {}.'.format(25, 75, 100))

25 plus 75 equals 100.

In [38]:
fss = '{} said, I want {} slices of {}.'

name = 'Pythagoras'
pi = 3.141592
print(fss.format(name, 2, pi))

Pythagoras said, I want 2 slices of 3.141592.

In [39]:
print('Set = {{{}, {}}}'.format(1, 2))

Set = {1, 2}

In [40]:
fss = 'Set = {{ {}, {}, {} }}'
print(fss.format(15, 35, 25))

Set = { 15, 35, 25 }

In [41]:
print('Set = {{ {}, {}, {} }}'.format(15, 35, 25))

Set = { 15, 35, 25 }

## 5.6	위치로 순서 정하기 (이름 혹은 색인)

In [42]:
print('{}; {}; {}!'.format(10, 20, 30))

10; 20; 30!

In [43]:
print('The items are {2}, {1}, {0}.'.format(10, 20, 30))

The items are 30, 20, 10.

In [44]:
fss = 'The items are {3}, {1}, {0}.'
print(fss.format(10, 20, 30, 40))

The items are 40, 20, 10.

In [45]:
fss = 'a equals {a}, b equals{b}, c equals {c}.'
print(fss.format(a=10, c=100, b=50))

a equals 10, b equals50, c equals 100.

In [46]:
print('{0}, {0}, {1}, {1}'.format(100, 200))

100, 100, 200, 200

In [47]:
a_list = [100, 200, 300]
'{0[1]:}, {0[2]:}'.format(a_list)

'200, 300'

In [48]:
'{a[1]:}, {a[2]:}'.format(a=a_list)

'200, 300'

In [49]:
current_lang = input('한국어를 원하면 KRW를 입력하세요:')

if current_lang == 'KRW':
    fss = '{0}가 {2}에서 {1}을 만나는 게 언제지?'
else:
    fss = "When will {0} meet {1} at {2}'s?"
print(fss.format('Fred', 'Sam', 'Joe'))

한국어를 원하면 KRW를 입력하세요:a
When will Fred meet Sam at Joe's?

## 5.7	'Repr' vs 문자열 변환

In [50]:
print(10) 		# 10 출력
print(str(10)) 	# 동일한 결과!

10
10

In [51]:
print(repr(10)) 		# 이 출력 결과도 10이다.

10

In [52]:
test_str = 'Here is a \n newline! '
print(test_str)

Here is a
 newline!

In [53]:
print(repr(test_str))

'Here is a \n newline! '

In [54]:
print('{}'.format(test_str))

Here is a
 newline!

In [55]:
print('{!r}'.format(test_str))

'Here is a \n newline! '

In [56]:
print('{1!r} loves {0!r}'.format('Joanie', 'ChaCha'))

'ChaCha' loves 'Joanie'

## 5.8	'format' 함수와 메서드의 'spec' 필드

In [57]:
s = format(32.3, '<+08.3f')
s

'+32.3000'

### 5.8.1	 출력-필드 너비

In [58]:
n1, n2 = 777, 999
print('**{:10}**{:2}**'.format(n1, n2))

**       777**999**

In [59]:
n = 111
'{:5}'.format(n)

'  111'

In [60]:
fss = '{1!r:10} loves {0!r:10}!!'
print(fss.format('Joanie', 'ChaCha'))

'ChaCha'   loves 'Joanie'  !!

### 5.8.2 텍스트 조정: 문자 '채움'과 '정렬'

In [61]:
print('{:->24}'.format('Hey Bill G, pick me!'))

----Hey Bill G, pick me!

In [62]:
print('{:>7}'.format('Tom')) 		# '    Tom' 출력
print('{:@>7}'.format('Lady')) 		# '@@@Lady' 출력
print('{:*>7}'.format('Bill')) 		# '***Bill' 출력

    Tom
@@@Lady
***Bill

In [63]:
print('{:<7}'.format('Tom')) 		# 'Tom    ' 출력
print('{:@<7}'.format('Lady')) 		# 'Lady@@@' 출력
print('{:*<7}'.format('Bill')) 		# 'Bill***' 출력

Tom
Lady@@@
Bill***

In [64]:
fss = '{:^10}Jones'
print(fss.format('Tom')) 		# ' Tom Jones' 출력
fss = '{:@^10}'
print(fss.format('Lady')) 		# '@@@Lady@@@' 출력
fss = '{:*^10}'
print(fss.format('Bill')) 		# '***Bill***' 출력

   Tom    Jones
@@@Lady@@@
***Bill***

In [65]:
print('{:=8}'.format(-1250)) 		# '-   1250' 출력
print('{:0=8}'.format(-1250)) 		# '-0001250' 출력

-   1250
-0001250

In [66]:
print(format('Lady', '@<7')) 		# 'Lady@@@' 출력

Lady@@@

### 5.8.3	 '기호' 문자

In [67]:
print('results>{: },{:+},{:-}'.format(25, 25, 25))

results> 25,+25,25

In [68]:
print('results>{: },{:+},{:-}'.format(-25, -25, -25))

results>-25,-25,-25

### 5.8.4	 0으로 시작하는 문자 (0)

In [69]:
i, j = 125, 25156
print('{:07} {:010}.'.format(i, j))

0000125 0000025156.

In [70]:
print('{:08}'.format(375)) 		# 00000375 출력

00000375

In [71]:
fss = '{:0>7} {:0>10}'

In [72]:
print('{:0>+10} {:+010}'.format(25, 25))

0000000+25 +000000025

### 5.8.5	천 단위 위치 구분자

In [73]:
fss1 = 'The USA owes {:,} dollars.'
print(fss1.format(21000000000))
fss2 = 'The sun is {:,} miles away.'
print(fss2.format(93000000))

The USA owes 21,000,000,000 dollars.
The sun is 93,000,000 miles away.

In [74]:
n = 4500000
print('The amount on the check was ${:*>12,}'.format(n))

The amount on the check was $***4,500,000

In [75]:
print('The amount is {:011,}'.format(13000))

The amount is 000,013,000

In [76]:
n = 13000
print('The amount is {:012,}'.format(n))

The amount is 0,000,013,000

In [77]:
print('The amount is {:0>11,}'.format(n))

The amount is 0000013,000

### 5.8.6	 정밀도 제어

In [78]:
pi = 3.14159265
phi = 1.618

fss = '{:.2} + {:.2} = {:.2}'
print(fss.format(pi, phi, pi + phi))

3.1 + 1.6 = 4.8

In [79]:
pi = 3.14159265
phi = 1.618

fss = '{:.3} + {:.3} = {:.3}'
print(fss.format(pi, phi, pi + phi))

3.14 + 1.62 = 4.76

In [80]:
fss = ' {:10.3f}\n {:10.3f}'
print(fss.format(22.1, 1000.007))

     22.100
   1000.007

In [81]:
fss = ' {:10,.3f}\n {:10,.3f}'
print(fss.format(22333.1, 1000.007))

 22,333.100
  1,000.007

In [82]:
fss = ' {:10.2f}'
for x in [22.7, 3.1415, 555.5, 29, 1010.013]:
    print(fss.format(x))

      22.70
       3.14
     555.50
      29.00
    1010.01

### 5.8.7 문자열에서 사용한 '정밀도' (잘라내기)

In [83]:
print('{:.5}'.format('Superannuated.'))     # 'Super' 출력
print('{:.5}'.format('Excellent!'))         # 'Excel' 출력
print('{:.5}'.format('Sam'))                # 'Sam' 출력

Super
Excel
Sam

In [84]:
fss = '{:*<6.6}'

print(fss.format('Tom'))
print(fss.format('Mike'))
print(fss.format('Rodney'))
print(fss.format('Hannibal'))
print(fss.format('Mortimer'))

Tom***
Mike**
Rodney
Hannib
Mortim

In [85]:
print(format('Tom', '*<6.6'))
print(format('Mike', '*<6.6'))
print(format('Rodney', '*<6.6'))
print(format('Hannibal', '*<6.6'))
print(format('Mortimer', '*<6.6'))

Tom***
Mike**
Rodney
Hannib
Mortim

In [86]:
fss = '{:*<5.10}'

print(fss.format('Tom'))
print(fss.format('Rodney'))
print(fss.format('longer than 10'))

Tom**
Rodney
longer tha

### 5.8.9	 이진 기수로 출력하기

In [87]:
print('{:b} {:b} {:b}'.format(5, 6, 16))

101 110 10000

In [88]:
print('{:#b}'.format(7))

0b111

### 5.8.10	8진수와 16진수 출력하기

In [89]:
print('{:o}, {:x}, {:X}'.format(63, 63, 63))

77, 3f, 3F

In [90]:
print('{0:o}, {0:x}, {0:X}'.format(63))

77, 3f, 3F

In [91]:
print('{0:#o}, {0:#x}, {0:#X}'.format(63))

0o77, 0x3f, 0X3F

### 5.8.11	백분율 출력하기

In [92]:
print('You own {:%} of the shares.'.format(.517))

You own 51.700000% of the shares.

In [93]:
print('{:.2%} of {:.2%} of 40...'.format(0.231, 0.5))

23.10% of 50.00% of 40...

### 5.8.12	이진수 예시

In [94]:
def calc_binary():
    print('Enter values in binary only!')
    b1 = int(input('Enter b1:'), 2)
    b2 = int(input('Enter b2:'), 2)
    print('Total is: {:#b}'.format(b1 + b2))
    print('{} + {} = {}'.format(b1, b2, b1 + b2))

calc_binary()

Enter values in binary only!
Enter b1:101
Enter b2:1010
Total is: 0b1111
5 + 10 = 15

## 5.9	변수-크기 필드

In [95]:
'Here is a num: {:{}.{}}'.format(1.2345, 10, 4)

'Here is a num:      1.234'

In [96]:
'Here is a num: {:10.4}'.format(1.2345)

'Here is a num:      1.234'

In [97]:
a, b = 10, 4
'Here is a num: {:{}.{}}'.format(1.2345, a, b)

'Here is a num:      1.234'

In [98]:
'{:{}} {:{}}!'.format('Hi', 3, 'there', 7)

'Hi  there  !'

In [99]:
'{0:{1}} {2:{3}}!'.format('Hi', 3, 'there', 7)

'Hi  there  !'

In [100]:
'Pi is approx. {0:{1}.{2}f}'.format(3.141592, 8, 3)

'Pi is approx.    3.142'

In [101]:
a, b = 8, 3
'Pi is approx. {0:{1}.{2}f}'.format(3.141592, a, b)

'Pi is approx.    3.142'

In [102]:
'Pi is approx. {0:8.3f}'.format(3.141592)

'Pi is approx.    3.142'