# A.	파이썬 연산자 우선순위 표

In [1]:
print(None and 100)

None

In [2]:
print(None or 100)

100

In [3]:
print(not(''))

True

# B.	내장 파이썬 함수

## abs(x)

In [4]:
c = 3+4j
abs(c)

5.0

## all(iterable)

In [5]:
all([1, 2, 4])

True

In [6]:
all([1, 2, 0])

False

## any(iterable)

In [7]:
any([0, 2, 0])

True

In [8]:
any([0, 0, 0])

False

## bin(n)

In [10]:
bin(7)

'0b111'

## bool(obj)

In [11]:
class Blah():
    pass

b = Blah()
b.egg = 0
bool(b)

True

In [12]:
bool(b.egg)

False

In [13]:
bool(None)

False

## bytes(source, encoding)

In [14]:
bs = bytes('Hi there!', encoding='utf-8')
bs

b'Hi there!'

## chr(n)

In [1]:
chr(97)

'a'

## compile(cmd_str, filename, mode_str, flags=0, dont_inherit=False, optimize=–1)

In [2]:
command_str = '''
pi = 3.141592
print('pi/2 = ', pi/2)
'''
cmd = compile(command_str, 'my_mod', 'exec')
exec(cmd)

pi/2 =  1.570796

## complex(real=0, imag=0)

In [3]:
complex()

0j

In [4]:
complex(5.5)

(5.5+0j)

In [5]:
complex(3, -2.1)

(3-2.1j)

In [6]:
complex(10-3.5j)

(10-3.5j)

In [7]:
complex(1, 5j)

(-4+0j)

## complex(complex_str)

In [9]:
complex('10.2+5j')

(10.2+5j)

In [10]:
complex('(10.2+5j)')

(10.2+5j)

In [11]:
complex('2')

(2+0j)

In [12]:
complex('3j')

3j

In [13]:
complex('1+j')

(1+1j)

## delattr(obj, name_str)

In [21]:
class Dog:
    bread = ''
    
my_dog = Dog()
my_dog.breed = 'St Bernard'
print(my_dog.breed)

a_str = 'breed'
print(hasattr(my_dog, a_str))
delattr(my_dog, a_str)
print(hasattr(my_dog, a_str))
delattr(my_dog, a_str)

St Bernard
True
False

AttributeError: breed

## dir([obj])

In [1]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

In [2]:
def demo():
    i = 1
    j = 2
    print(dir())

demo()

['i', 'j']

In [3]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

## divmod(a, b)

In [5]:
quot, rem = divmod(203, 10) 	# 결과는 20, 나머지는 3
print(quot, rem)

20 3

In [6]:
divmod(10.6, 0.5)

(21.0, 0.09999999999999964)

## enumerate(iterable, start=0)

In [7]:
beat_list = ['John', 'Paul', 'George', 'Ringo']
for n, item in enumerate(beat_list, 1):
    print('%s. %s' % (n, item))

1. John
2. Paul
3. George
4. Ringo

## eval(expr_str [, globals [, locals]] )

In [8]:
a = 100
eval('3 * a + 55')

355

In [9]:
eval('3 * 100 + 55', {}) 		# 문제 없음

355

In [10]:
eval('3 * a + 55', {}) 		# 에러; 'a'가 정의되지 않음

NameError: name 'a' is not defined

In [12]:
from math import *
a = 25
dict_1 = {'tan': tan, 'radians': radians, 'a': a }
eval('1000 * tan(radians(a))', dict_1)

466.3076581549986

In [13]:
eval('a * a + 100', {}, locals())

725

## filter(function, iterable)

In [14]:
def is_neg(x):
    return x < 0

my_list = [10, -1, 20, -3, -2.5, 30]
print(list(filter(is_neg, my_list)))

[-1, -3, -2.5]

## float([x])

In [16]:
n = 1
yyy = float(n) 			# yyy에 1.0 대입.
amt = float('-23E01') 		# amt에 -23E01 대입.
print(yyy, amt)

1.0 -230.0

In [17]:
amt = float() 			# amt에 0.0 대입.
amt

0.0

## format(obj, [format_spec])

In [18]:
format(1000000, ',')

'1,000,000'

## frozenset([iterable])

In [20]:
frozenset((1, 2, 2, 3, 3, 4, 1))

frozenset({1, 2, 3, 4})

## getattr(obj, name_str [,default])

In [21]:
class Dog:
    breed = ''
    
d = Dog()
d.breed = 'Bulldog'
attr_name = 'breed'
getattr(d, attr_name)

'Bulldog'

## hasattr(obj, name_str)

In [23]:
class Dog:
    breed = ''
    
my_dog = Dog()
my_dog.breed = 'Husky'
nm = 'breed'
hasattr(my_dog, nm)

True

## hex(n)

In [24]:
hex(23)

'0x17'

## input([prompt_str])

In [27]:
my_name = input('Enter your name, please: ')
my_age = int(input('Enter your age, please: '))

Enter your name, please: insuk
Enter your age, please: 40

## int(x, base=10)

In [28]:
int('1000', 16)

4096

In [29]:
int(3.99), int(-3.99)

(3, -3)

## issubclass(class1, class2)

In [31]:
class Floopy(int):
    pass

f = Floopy()

issubclass(Floopy, int)

True

In [32]:
issubclass(int, Floopy)

False

In [33]:
issubclass(int, int)

True

In [34]:
issubclass(f, int) 	# TypeError: f 는 클래스가 아니다

TypeError: issubclass() arg 1 must be a class

## iter(obj)

In [35]:
gen = iter(5) 		# TypeError 발생

TypeError: 'int' object is not iterable

In [37]:
gen = iter([5])
gen

In [38]:
gen = iter([1, 2, 3])
next(gen)

1

In [39]:
next(gen)

2

In [40]:
next(gen)

3

In [41]:
next(gen)

StopIteration:

## len(sequence)

In [42]:
len('Hello')

5

## list([iterable])

In [43]:
print(list('cat'))

['c', 'a', 't']

In [44]:
new_list = list() 		# new_list를 빈 리스트로 초기화.
new_list

[]

## locals()

In [45]:
def foobar():
    a = 2
    b = 3
    c = 1
    print(locals())

foobar()

{'a': 2, 'b': 3, 'c': 1}

## map(function, iterable1 [, iterable2…])

In [52]:
def multy(a, b, c):
    return a * b * c

m = map(multy, [1, 20], [1, 20], [1, 50])
print(list(m))

[1, 20000]

## max(arg1 [, arg2]…)

In [53]:
max(1, 3.0, -100, 5.25)

5.25

## max(iterable)

In [54]:
from fractions import Fraction

a_list = [1, Fraction('5/2'), 2.1]
max(a_list)

Fraction(5, 2)

## min(arg1 [, arg2]…)

In [55]:
min(1, 3.0, -100, 5.25)

-100

## min(iterable)

In [56]:
from fractions import Fraction

a_list = [1, Fraction('5/2'), 2.1]
min(a_list)

1

## oct(n)

In [57]:
oct(9)

'0o11'

## open(file_name_str, mode='rt')

In [58]:
f = open('mydata.dat', 'wb')

In [60]:
f.close()

## ord(char_str)

In [61]:
chr(ord('a'))

'a'

## pow(x, y [, z])

In [1]:
pow(2, 4)

16

In [2]:
pow(2, 4, 10)

6

In [3]:
pow(1.1, 100)

13780.61233982238

## print(objects, sep='', end='\n', file=sys.stdout)

In [4]:
s1 = 'eenie'
s2 = 'meenie'
s3 = 'Moe'
print(s1, s2, s3, sep='; ')

eenie; meenie; Moe

## range(n)

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

## range(start, stop [, step])

In [6]:
list(range(1, 7, 2))

[1, 3, 5]

In [7]:
 list(range(5, 1, -1))

[5, 4, 3, 2]

## repr(obj)

In [8]:
my_str = "Hi, I'm Brian!"
print(repr(my_str))

"Hi, I'm Brian!"

In [9]:
my_str

"Hi, I'm Brian!"

## reversed(iterable)

In [10]:
print(list(reversed([1, 2, 3])))

[3, 2, 1]

In [11]:
str(reversed('Wow, Bob, wow!'))

'<reversed object at 0x000001EA04901BC8>'

In [12]:
'Wow, Bob, wow!'[::-1]

'!wow ,boB ,woW'

## round(x [,ndigits])

In [13]:
round(12.555, 1)

12.6

In [14]:
round(12.555, 2)

12.55

In [15]:
round(12.555, 0)

13.0

In [16]:
round(12.555)

13

In [17]:
round(12.555, -1)

10.0

In [18]:
round(-55.55)

-56

## set([iterable])

In [21]:
my_list = [11, 11, 3, 5, 3, 3, 3]
my_set = set(my_list)
my_set

{3, 5, 11}

## setattr(obj, name_str, value)

In [22]:
class Dog:
    breed = ''

d = Dog()
d.breed = 'Dane'

In [25]:
attr_str = 'breed'
setattr(d, attr_str, 'Dane') 		# d.breed = 'Dane' 설정
d.breed

'Dane'

## sorted(iterable [, key] [, reverse])

In [26]:
sorted([5, 0, 10, 7])

[0, 5, 7, 10]

## str(obj='')

In [27]:
n = 10100140
s = str(n)
s.count('0')

4

## str(obj=b'' [, encoding='utf-8'])

In [28]:
bs = b'Hello!' 			# 정확하게 6 바이트를 보장한다
s = str(bs, encoding='utf-8')
print(s) 			# 일반 문자열 출력, 문자당 ? 바이트.

Hello!

## sum(iterable [, start])

In [29]:
def get_avg(a_list):
    return sum(a_list)/len(a_list)

get_avg([1, 2, 3, 4, 10])

4.0

In [30]:
def gen_count(n):
    i = 1
    while i <= n:
        yield i
        i += 1

sum(gen_count(100))

5050

## type(obj)

In [31]:
i = 5
type(i) is int

True

In [32]:
type(i) == int

True

## zip(*iterables)

In [34]:
a = [1, 2, 3]
b = [10, 20, 30]
c = [i[0] + i[1] for i in zip(a, b)]
c

[11, 22, 33]

In [35]:
a_list = list(zip(a, b))
a_list

[(1, 10), (2, 20), (3, 30)]

In [37]:
a = [1, 2, 3]
b = [10, 20, 30]
c = []

for i in range(min(len(a), len(b))):
    c.append(a[i] + b[i])
    
c

[11, 22, 33]